#warning {
  .inner-wrap {
    margin: -225px 0 0 -300px;
    width: 600px;
    height: 450px;

    .content {
      padding: 105px 60px 35px 60px;
    }

    .warning-icon {
      padding: 40px 15px 10px 60px;

      svg {
        width: 38px;
        height: 38px;
      }
    }

    h1 {
      margin-bottom: 30px;
    }
  }
}
