@font-face {
  font-family: 'strada light';
  src: url('../fonts/StradaWeb-Light.eot');
  src: url('../fonts/StradaWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StradaWeb-Light.woff2') format('woff2'),
  url('../fonts/StradaWeb-Light.woff') format('woff'),
  url('../fonts/StradaWeb-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'strada italic';
  src: url('../fonts/StradaWeb-Italic.eot');
  src: url('../fonts/StradaWeb-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StradaWeb-Italic.woff2') format('woff2'),
  url('../fonts/StradaWeb-Italic.woff') format('woff'),
  url('../fonts/StradaWeb-Italic.ttf') format('truetype')
}
@font-face {
  font-family: 'strada bold';
  src: url('../fonts/Strada-Bold.eot');
  src: url('../fonts/Strada-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Strada-Bold.woff2') format('woff2'),
  url('../fonts/Strada-Bold.woff') format('woff'),
  url('../fonts/Strada-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'strada black';
  src: url('../fonts/Strada-Black.eot');
  src: url('../fonts/Strada-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Strada-Black.woff2') format('woff2'),
  url('../fonts/Strada-Black.woff') format('woff'),
  url('../fonts/Strada-Black.ttf') format('truetype')
}
