
html {
  //this causes you to put pixels easily in rem - 24px = 2.4rem
  font-size: 62.5%;
}
// basic font-size
body {
  @include font-type-base();
  font-size: 1.6rem;
  line-height: 2.0rem;
}

strong,
.bold {
  @include font-type-base(bold);
}

em,
.italic {
  @include font-type-base(italic);
}

h1, h2, h3, h4, h5 {
  line-height: 1.3rem;
}

ol,
ul {
  padding-left: 1rem;

  &:not(ol) li {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  li {
    padding-bottom: .5rem;
  }
}

p {
  color: $font-color;
}

a,
a:link,
a:visited {
  color: $font-color;
  transition: color .3s ease;
}

a:hover,
a:active,
a:focus {
  color: $font-color;
}

// removes focus outlines and glow effects from active elements
// - - - - - - - - - - - - - - - - - - - - - - - - -
a:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

caption {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, .7);
}

table {
  width: 100%;

  thead {
    th {
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr {
      td {
      }
    }
  }
}

dt {
  display: list-item;
  list-style-type: disc;
}

dt, dd {
  padding-left: 20px;
}

dl dt {
  font-weight: 300;
  font-size: 2.6rem;
}

dd {
  font-size: 4.0rem;
  line-height: 3.8rem;

  p {
    line-height: 3.8rem;
  }
}

hr {
}
