.modulepage {
  .alphabet {
    padding: 0 0 20px 0;

    ul {
      max-width: 546px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .device-header {
    .inner {
      max-width: 530px;
      margin-left: auto;
      margin-right: auto;
      position: relative;

    }
    .close {
      right: 0;
    }
    h3 {

    }
  }
}
