#warning {
  .inner-wrap {
    margin: -250px 0 0 -325px;
    width: 650px;
    height: 500px;

    .content {
      padding: 125px 80px 35px 80px;
    }

    .warning-icon {
      padding: 60px 15px 10px 80px;
    }
  }
}
